#alan {
    float:left;
    height: 150px;
     width: 150px;
     margin-right: 1%;
}
.nav-link{
    color: #ffffff;

}
#topbar{
        padding-left: .5%;
        padding-right: .5%;
    color: #ffffff;
        font-size: 1em;
}
.navbar {
    max-height: 4%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bolder;
}
body {
    margin-bottom: 10%;
}
#About {
    line-height: 1;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}
footer {
    background-color: black;
    text-align: center;
    bottom: 0;
    padding-bottom: 20px;
}
.row {
    padding-bottom: 20px;
}
#botbar {
    margin:auto;
    color: red;
    padding-bottom: 75%;
}
#botbarborder {
    background-color: black;
    max-height: 6%;
    line-height: 0.8em;
}
#Pimages {
    flex: 0 0 3%; 
    height: 150px;
    width: 150px;
    object-fit: fill;
}
input {
    width: 100%;
    margin-bottom: 20px; 
}
#topform {
padding: 1.5% 0% 1.5% 1.5%
}
#bottomform {
padding: 1.5% 0% 10% 1.5%
}
#t {
    padding-bottom: 0%;
    padding-top: 0%;
}
.btn
{
background-color: green;
}
